/Makefile
/Makefile.in
/_tmpinst
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in
/config.log
/config.status
/config.sub
/configure
/libtool
/ltconfig
/ltmain.sh
/mono-*.tar.gz
/*.pc
/mono.spec
/mono-core.spec
/semantic.cache
/stamp-h
/stamp-h.in
/stamp-h1
/tmpinst-dir.stamp
/missing
/compile
/depcomp
/install-sh
/doltlibtool
/doltcompile
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/external
/builds
*.pidb
/lt~obsolete.m4
/ltversion.m4
mcs/jay/Debug/
mcs/jay/jay.ilk
msvc/Debug_eglib/
msvc/Win32_Debug_eglib/
msvc/mono.ncb
msvc/mono.suo
unity/smalltestcases/asyncsocketshutdown/Win32_Debug_eglib/
unity/smalltestcases/asyncsocketshutdown2/Win32_Debug_eglib/
